UPSTOX_API_KEY=
UPSTOX_API_SECRET=
UPSTOX_REDIRECT_URI=http://localhost:5000/callback
FLASK_SECRET_KEY=
PORT=5000
UPSTOX_TOKEN_FILE=token.json

GOOGLE_CREDENTIALS_FILE=creds.json
GOOGLE_TOKEN_FILE=token_google.json
GOOGLE_SHEET_ID=
